@charset "utf-8";

/* CSS Document */
body{
	font-size: small;
}
img[alt="save"]{
	padding-bottom: 10%;
}
div[class~="col-2"] label{
	margin-top: 5px;
}
.nav-tabs .nav-link.active{

	color: #557463;

	background-color: #fff;

	border-color: #fff;

}

.nav-link{

	color: 	#294f3a;

	background-color: #ebf7f4;

	

}

.nav-tabs .nav-link{

	border-radius: 0 !important;

}

div .badge{

	height: 90%;

	background-color: transparent;

}

.badge:hover{

	background-color: aliceblue;

	cursor: pointer;

}

.level-item{
	border: none;
}

.level-item.active{
	background-color: #ebf7f4;
	color: #495057;
}

.level-item span{
	margin-right: 20px;
}

.assign-list > span{
	font-weight: bold;
}

.assign-list span{
	margin-right: 20px;
}

.assign-list div{
	margin-top: 20px;
}

.assign-list div ul{
	list-style-type: none;
}

.assign-list div ul li{
	padding: 2.5px 0;
}

.assign-list div ul .fa-times:hover, .assign-list div ul .fa-plus:hover{
	color: red;
	cursor: pointer;
}
.ta-desc .fa-times:hover{
	cursor: pointer;
	color: red;
}

#tab-content{

	background-color: white;
	height: 85%;
	position: fixed;
	width: 97%;
	overflow-x: hidden;
}

#thm-action{

	margin: 5px 0;

    height: 30px;

}

#thm-action div{

	height: inherit;

}

#account, #history{

	height: 390px;

}
#main-comtent{
	position: fixed;
	width: 100%;
	height: 100%;
}
#sub-content{
	position: fixed;
	margin-top: 37px;
}
#thm-precode{
	margin-bottom: 0.25%;
}
#assign-col-1{
	margin-top: 1%;
	margin-right: 3%;
	width: 20%;
	height: 80%;
	position: fixed;
	overflow-x: hidden;
}
#assign-col-2{
	margin-top: 1%;
	margin-right: 24%;
	width: 35%;
	height: 80%;
	position: fixed;
	overflow-x: hidden;
}
#assign-col-3{
	margin-top: 1%;
	margin-right: 60%;
	width: 35%;
	height: 80%;
	position: fixed;
	overflow-x: hidden;
}
#assign-col-3 div ul li:hover{
	background-color: #97c0b6;
	display: block;
	margin-left: 20px;
	cursor: pointer;
}
#description{
	margin: 10px;
}

#turnover{
	margin: 5px 5px auto 10px;
}
#turnover td, #turnover th{
	border: 1px solid #294f3a;
}
#turnover thead tr{
	height: 15px;
	background-color: #cde7f1;
}
#turnover tbody td{
	font-size: large;
}