@charset "utf-8";

/* CSS Document */
body.thm-h{
	font-size: small;
}
img[alt="save"].thm-h{
	padding-bottom: 10%;
}
div[class~="col-2"].thm-h label{
	margin-top: 5px;
}
.nav-tabs.thm-h .nav-link.active{

	color: #557463;

	background-color: #fff;

	border-color: #fff;

}

.nav-link.thm-h{

	color: 	#294f3a;

	background-color: #ebf7f4;

	

}

.nav-tabs.thm-h .nav-link{

	border-radius: 0 !important;

}

div.thm-h .badge{

	height: 90%;

	background-color: transparent;

}

.badge.thm-h:hover{

	background-color: aliceblue;

	cursor: pointer;

}

.level-item.thm-h{
	border: none;
}

.level-item.thm-h.active{
	background-color: #ebf7f4;
	color: #495057;
}

.level-item.thm-h span{
	margin-right: 20px;
}

.assign-list.thm-h > span{
	font-weight: bold;
}

.assign-list.thm-h span{
	margin-right: 20px;
}

.assign-list.thm-h div{
	margin-top: 20px;
}

.assign-list.thm-h div ul{
	list-style-type: none;
}

.assign-list.thm-h div ul li{
	padding: 2.5px 0;
}

.assign-list.thm-h div ul .fa-times:hover, .assign-list div ul .fa-plus:hover{
	color: red;
	cursor: pointer;
}
.ta-desc.thm-h .fa-times:hover{
	cursor: pointer;
	color: red;
}

#tab-content.thm-h{

	background-color: white;
	height: 85%;
	position: fixed;
	width: 97%;
	overflow-x: hidden;
}

#thm-action.thm-h{

	margin: 5px 0;

    height: 30px;

}

#thm-action.thm-h div{

	height: inherit;

}

#account.thm-h, #history.thm-h{

	height: 390px;

}
#main-content.thm-h{
	position: fixed;
	width: 100%;
	height: 100%;
}
#sub-content.thm-h{
	position: fixed;
	margin-top: 37px;
}
#thm-precode.thm-h{
	margin-bottom: 0.25%;
}
#assign-col-1.thm-h{
	margin-top: 1%;
	margin-right: 3%;
	width: 20%;
	height: 80%;
	position: fixed;
	overflow-x: hidden;
}
#assign-col-2.thm-h{
	margin-top: 1%;
	margin-right: 24%;
	width: 35%;
	height: 80%;
	position: fixed;
	overflow-x: hidden;
}
#assign-col-3.thm-h{
	margin-top: 1%;
	margin-right: 60%;
	width: 35%;
	height: 80%;
	position: fixed;
	overflow-x: hidden;
}
#assign-col-3.thm-h div ul li:hover{
	background-color: #97c0b6;
	display: block;
	margin-left: 20px;
	cursor: pointer;
}
#description.thm-h{
	margin: 10px;
}

#turnover.thm-h{
	margin: 5px 5px auto 10px;
}
#turnover.thm-h td, #turnover.thm-h th{
	border: 1px solid #294f3a;
}
#turnover.thm-h thead tr{
	height: 15px;
	background-color: #cde7f1;
}
#turnover.thm-h tbody td{
	font-size: large;
}