@charset "utf-8";

/* CSS Document */

/*begin account css*/



.thm-fields{

	overflow-x: hidden;

	position: absolute;

	height: 100% !important;

	width: 100%;

	margin: 1% 0 2% 0;

	border-radius: 0;

	font-size: small;

	right: 0 !important;

}

.thm-fields div{
	margin: 10px 0;
}
.thm-fields div div{
	margin: 10px 0;
}
.thm-fields label{
	width: 20%;
}
.thm-fields select,.thm-fields input{
	width: 70%;
	display: inline-block;
}
.thm-fields input[type="checkbox"]{
	width: 5%;
}

div.thm-f .badge{

	height: 100%;

	background-color: transparent;

}


.badge.thm-f:hover{

	background-color: aliceblue;

	cursor: pointer;

}

#thm-content.thm-f{

	position: absolute;

	width: 100%;

	height: 90%;

	margin: 40px 0;

	padding: 10px;

}

#thm-main-action.thm-f{

	position: absolute;

	right: 15px;

	height: 35px;

	margin-top: 10px;	

}

#thm-main-action.thm-f div{

	height: 100%;

}

#thm-main-action.thm-f div .save{

	height: 95%;

}
#primary_col{
	padding: 0;
}

/*end account css*/

