@charset "utf-8";

/* CSS Document */

/*begin account css*/


.thm-fields.thm-m label{
	width: 30%;
}
.thm-fields.thm-m  select,.thm-fields.thm-m input{
	width: 60%;
	display: inline-block;
}

/*end account css*/

